
.container {
     width:80%;
     margin:auto;
     overflow: hidden;
}
header {
    background:#35424a; 
    color:#ffffff;
    padding-top: 30px;
    min-height: 70px; 
    border-bottom: #e8491d 3px solid;
}
  ul{
     margin:0;
     padding:0;
 }
 header li {
     float :left;
     display:inline;
     padding: 0 20px 0 20px;
 }

 header #branding {
      float:left; 
 }
 header #branding h1 {
     margin:0;
 }

 header nav {
     float:right; 
     margin-top:10px;
 }
 header .highlight{
     color:#e8491d;
     font-weight:bold;
 }

 header a {
      text-transform: uppercase;
      text-decoration: none;
      color: #ffffff;
      font-size: 16px;
 }
 a:hover{
     color:#cccccc;
     font-weight: bold;
 }
@media(max-width:768px){
    header #branding,header nav,header nav li {
        float:none; 
        text-align:center;
        width:100%;
    }
    header{
        padding-bottom:20px;
    }
    
}