.button_1 {
    margin-left:1px;
}
 ul#services li{
  list-style: none;
  padding:20px;
  border:#cccccc solid 1px;
  margin-bottom:5px;
  background: #e6e6e6;  
 }

 aside#sidebar .quote input, aside#sidebar .quote textarea {
    width:70%;
    padding:5px; 
 }
 @media(max-width:768px){
     .quote button{
       display:block;
       width:100%;
     }
     .quote input,.quote textarea {
         width:100%;
         margin-bottom:5px;
     }
 }